@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-background: var(--background);
    --color-background-variant: var(--background-variant);
    --color-foreground: var(--foreground);
    --color-foreground-variant: var(--foreground-variant);
    --color-dangerous: var(--dangerous);
    --color-dangerous-variant: var(--dangerous-variant);
    --color-safe: var(--safe);
    --color-safe-variant: var(--safe-variant);
    --color-primary: var(--primary);
    --color-primary-variant: var(--primary-variant);
    --color-secondary: var(--secondary);
    --color-secondary-variant: var(--secondary-variant);
}

@utility scrollbar-hide {
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

:root {
    --background: #ffffff;
    --background-variant: #cfcfcf;
    --foreground: #000000;
    --foreground-variant: #1e1e1e;
    --dangerous: #c53854;
    --dangerous-variant: #A91D3A;
    --safe: #5ca6b3;
    --safe-variant: #2F7C8A;
    --primary: #8a8a8a;
    --primary-variant: #6c6c6c;
    --secondary: #8a8a8a;
    --secondary-variant: #6c6c6c;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    transition: background-color .5s ease;
}

p {
    color: var(--foreground);
}

svg {
    width: 100% !important;
    height: 100% !important;
}

*::-webkit-scrollbar { /* Desactivation des scrollbars */
    display: none;
}