@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-background: var(--background);
    --color-background-opacity: rgba(0, 0, 0, 0.75);
    --color-on-background: var(--on-background);
    --color-on-background-hover: var(--on-background-hover);
    --color-foreground: var(--foreground);
    --color-on-foreground: var(--on-foreground);
    --color-on-foreground-hover: var(--on-foreground-hover);
    --color-dangerous: var(--dangerous);
    --color-dangerous-hover: var(--dangerous-hover);
    --color-safe: var(--safe);
    --color-safe-hover: var(--safe-hover);
    --color-primary: var(--primary);
    --color-primary-hover: var(--primary-hover);
    --color-secondary: var(--secondary);
    --color-secondary-hover: var(--secondary-hover);
    --font-array: var(--font-array);
    --font-satoshi: var(--font-satoshi);
    --font-chillax: var(--font-chillax);
    --font-clashdisplay: var(--font-clashdisplay);
    --font-excon: var(--font-excon);
    --font-stardom: var(--font-stardom);
    --font-sans: "Montserrat", sans-serif;
}

:root {
    --background: #000000;
    --background-opacity: rgba(0, 0, 0, 0.75);
    --on-background: #121212;
    --on-background-hover: #2c2c2c;
    --foreground: #ffffff;
    --on-foreground: #cfcfcf;
    --on-foreground-hover: #bfbfbf;
    --dangerous: #c53854;
    --dangerous-hover: #A91D3A;
    --safe: #5ca6b3;
    --safe-hover: #2F7C8A;
    --primary: #26377d;
    --primary-hover: #202c59;
    --secondary: #3d9fca;
    --secondary-hover: #4695b8;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

svg {
    width: 100% !important;
    height: 100% !important;
}

*::-webkit-scrollbar { /* Desactivation des scrollbars */
    display: none;
}